h1{
    color: gold;
    font: size 100px;

}   

header{

    color: green;
    text-align: center;
    font-size: 15px;
}   


.juegos{

    color: red;
    font-size: 15px;
    text-align: right;
}