
    .morado-negrita{
        color: violet;
        font: bold;
    }

    #header{ 
        color: blueviolet;
        text-align: center;
        font: bolt;
    }
    
    h2{
        color: darkred;
        text-align: right;
        font: bolt;
    }